[gce]
libcloud_secrets =
gce_service_account_email_address = ansible@docker-123456.iam.gserviceaccount.com
gce_service_account_pem_file_path = environments/stage/key.json
gce_project_id = docker-123456
gce_zone =

[inventory]
inventory_ip_type =
inventory_group_zone = no
inventory_group_instance_tags = yes
inventory_group_instance_tags_prefix =
inventory_group_network_name = no
inventory_group_machine_type = no
inventory_group_running_status = no
inventory_group_running_status_prefix = status_
inventory_group_image = no

[cache]
cache_path = ~/.ansible/tmp
cache_max_age = 300
