*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
key.json

# docker infra
docker/docker-monolith/ansible/roles/
vault.key
.env

# gitlab
gitlab-ci/ansible/roles/
archive/
variables.json
gce.ini
