*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
ansible/*.retry
ansible/key.json
ansible/vault.key
ansible/roles/jdauphant.nginx
ansible/environments/*/key.json
.vagrant/
Vagrantfile
