{
    "project_id": "docker-123456",
    "source_image_family": "ubuntu-1604-lts",
    "ssh_username": "user",
    "disk_size": "70",
    "disk_type": "pd-standard",
    "tags": "packer-ssh",
    "network": "default"
}
