---
- name: Configure hosts
  hosts: reddit-app
  tags: app-tag
  become: true
  vars:
   db_host: 10.164.0.2
  tasks:
    - name: Add unit file for Puma
      become: true
      copy:
        src: files/puma.service
        dest: /etc/systemd/system/puma.service
      notify: reload puma

    - name: Add config for DB connection
      template:
        src: templates/db_config.j2
        dest: /home/appuser/db_config
        owner: appuser
        group: appuser

    - name: enable puma
      become: true
      systemd: name=puma enabled=yes

  handlers:
  - name: reload puma
    become: true
    systemd: name=puma state=reloaded
